---
import Layout from '../layouts/Layout.astro';

// const pathname = new URL(Astro.request.url).pathname.split('/');
---

<Layout title="Luomoe">
	<main class="container mx-auto p-6 prose lg:prose-xl">
		<h1>Luo . <span class="text-gradient">moe</span></h1>
		<a href="/posts/1">Posts</a>
	</main>
</Layout>
